<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Slider</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="./style.css"/>

    </head>
<body>
    <div id="app" class="container-md d-flex flex-column align-items-center mt-5">
        <div>
            <h3>Aggiungi task</h3>
            <input class="form-control" type="text"  v-model="aggiunta.text" @keyup.enter ="add">
            <button @click="add">Add</button>
            <div v-if="minlength">il task deve essere più lungo</div>
        </div>
        <ul v-if="list.length > 0">
            <li v-for="(item,index) in list" :key="index" >
                <span @click="allerta">{{item.text}}</span>
                <button @click="removeTask(index)">cancella</button>
            </li>
        </ul>
        <div v-else>Hai finito</div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>

    <script src="./script.js"></script>

</body>
</html>