:root{
    --gray: #BFBFBF;
}


.isActive{
    opacity: 0.6;
    text-decoration: line-through;
}
.active{
    opacity: 0.6;
    text-decoration: line-through;
}
.myspace{
    margin: 5px;
}
ul{
    list-style: none;
 
    padding: 30px;
}
li{
margin: 20px;
}
.my-container{
    width: 700px;
    margin: 0 auto;
}
body {
    background: rgb(68, 100, 173);
    background: linear-gradient(
        100deg,
        rgba(68, 100, 173, 1),
        rgba(74, 21, 110, 1)
    );
    color: white;
    min-height: 100vh;
    margin-bottom: 2rem;
}
.mybtn {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.8rem;
    border: none;
    background: #f4f4f4;
    padding: 0.5rem 1rem;
    color: rgba(74, 21, 110, 1);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.myinput{
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.8rem;
    border: none;

    background: #f4f4f4;
}
.mybtn:hover {
    background: rgba(74, 21, 110, 1);
    color: white;
}
.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.mytrash {
    background-color: rgba(74, 21, 110, 1);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
  
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s all ease;
}
.mycheck{
    background-color: rgba(68, 100, 173, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    border: none;
  
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s all ease;

}
.mycheck:hover {
    background-color: rgba(68, 100, 173, 1);
    color: white;
}

.todo-list {
    min-width: 30%;
    list-style: none;
    max-width: 80%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin: 0 auto;

}
.allinea{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.doneTask{
    margin-top: 300px;
    font-size: 30px;
    text-shadow: 1px 3px 6px rgba(150, 150, 150, 1);
}