:root{
    --gray: #BFBFBF;
}


.checked{
    text-decoration:line-through;
}
.myspace{
    margin: 5px;
}
ul{
    list-style: none;
    background-color: var(--gray);
    padding: 30px;
}
li{
margin: 20px;
}
.my-container{
    width: 700px;
    margin: 0 auto;
}